@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

header {
    background-color: #000000;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.vertical-menu {
    display: none;
}

a {
    cursor: pointer;
}

a:hover {
    color: #FCA311;
    transition: 1s;
}

header nav button {
    display: none;
}

header ul {
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    margin-right: 10vh;

}

header .cv {
    display: none;
}

li {
    list-style: none;

}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


header a,
header h1,
header h2 {
    color: #ffffff;
    letter-spacing: 2px;
}

h1,
h2,
p {
    animation: 2s anim-lineUp ease-out normal;
}

p,
span {
    color: #FCA311;
}

.resume {
    text-decoration: none;
    background-color: #FCA311;
    padding: 0.6rem;
    border-radius: 0.7rem;
}

.resume:hover {
    background-color: #ffffff;
    text-decoration-line: none;
    color: #000000;
    transition: 1s;
}

.introduction {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    font-size: x-large;
}

.introduction p {
    text-align: start;
}

.about {
    height: 145vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.photo {
    width: 40%;
    overflow: hidden;
}

.photo img {
    width: 70%;
    border-radius: 1rem;

}

.about h2,
.about p {
    color: #000000;
    font-size: larger
}

.about-contain {
    display: flex;
    justify-content: space-around;
}

.about h2 {
    align-self: center;
    font-size: 3rem;
    color: #14213D;
}

.about .experience {
    color: #FCA311;
}

.cv-container {
    display: none;
}

.description {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.description ul {
    padding: 0;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    font-size: larger;
}

.description ul span {
    font-size: 2rem;
    font-weight: 600;
}

.skills {
    display: grid;
    grid-row-gap: 1rem;
    justify-items: center;
    grid-template-columns: 25% 25% 25% 25%;

}

.skills img {
    width: 50%;
}

.myProject {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.myProject h2 {
    color: #FCA311;
    font-size: 2.5rem;

}

.myProject p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProject-container {
    display: flex;
    justify-content: center;
}

.myProject .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 15vh;
    border: 0.15rem solid #E5E5E5;
    border-radius: 1rem;
    box-shadow: rgba(254, 254, 254, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;

}

.card-skill {
    width: 10%;
}

.myProject .card:hover {
    box-shadow: #FCA311 0px 3px 8px;
    border: 0.15rem solid #FCA311;
    transition: 0.6s;

}

.myProject .card h3 {
    color: #ffffff;
    font-size: x-large;
    font-family: 'Titan One', cursive;
}

.myProject a img {
    width: 4rem;
}

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: x-large;
}

.contact h2 {
    color: #14213D;
}

.contact img {
    width: 5rem;
}

.contact p {
    width: 65%;
    color: #000000;
    text-align: center;
    line-height: 3rem;
}

.contact-me {
    background-color: #E5E5E5;
    width: 10rem;
    height: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contact-me p {
    color: #14213D;
}




.contact-me:hover {
    box-shadow: none;
    transition: 0.7s;

}



@media only screen and (max-width: 600px) {


    p {
        font-size: smaller;
    }

    header nav {

        display: flex;
        justify-content: flex-end;
    }





    header nav ul {
        display: none;
    }

    .introduction {
        justify-content: space-around;
    }



    .cv-container {
        display: flex;
        flex-direction: column;

    }

    .cv-container .check {
        color: #FCA311;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skills {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 5rem 5rem 5rem;
        grid-template-rows: 5rem 5rem 5rem 5rem;
    }

    .about {
        text-align: center;
        justify-content: flex-start;
        height: 265vh;
    }

    .about h2 {
        margin-bottom: 5rem;
    }

    .about-contain {
        flex-direction: column;
    }

    .photo {
        display: flex;
        justify-content: center;
        width: 100%;
    }


    .photo img {
        width: 60%;
        clip-path: ellipse(45% 36% at 51% 36%);
    }

    .description {
        width: 80%;
    }

    .description .soft-skills {
        display: flex;
        align-items: flex-start;
    }

    .myProject .card {
        width: 95%;
        height: 90%;
    }

    .myProject .card h3 {
        font-size: large;
    }



}